@model IEnumerable<RentaCar.Models.Car>

@{
    ViewBag.Title = "Cars";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cars</h2>

@Html.ActionLink("New Car", "New", "Cars", null, new { @class= "btn btn-primary"})
<p></p>
<table id="cars" class="table table-bordered table-hover">

    <thead>

        <tr>

            <th>Car</th>
            <th>Type</th>
            <th>Delete</th>

        </tr>

    </thead>

    <tbody>

    </tbody>

</table>

@section scripts
    {
    <script>
        
        $(document).ready(function () {

            var table = $("#cars").DataTable({

                ajax: {
                    url: "/api/cars",
                    dataSrc:""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, car) {
                            return "<a href='/cars/edit/" + car.id + "'>" + car.name + "</a>";
                        }
                    },
                    {
                        data: "typeOfCar.type"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link .js-delete' data-car-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });

            $("#cars").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Do you really want to delete this car?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/cars" + button.attr("data-car-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }

                        });
                    }
                });
            });

        });

    </script>
    }

